## pipがない場合は...
# pip3 install -r requirements.txt
# sudo apt-get install build-essential libssl-dev libffi-dev python3-dev
# sudo apt install -y python3-pip
# ( pip3 install --upgrade pip )
# pip3 install -r requirements.txt

selenium
websocket-client
pyopenssl
urllib3
requests
bs4
evdev

# if you need >> $ pip3 install --upgrade requests


### .____ Chromium Setup For Jetson / Ubuntu18.04 ____ ###
# $ sudo apt-get upgrade chromium-browser
#   -> 時間がかかる
# $ chromium-browser --version
#   -> 109以上であれば動くようだ.
# $ sudo apt install chromium-chromedriver
# $ sudo apt install python3-selenium
### ____ for Jetson / Ubuntu18.04 ____. ###
