## pipがない場合は...
# pip3 install -r requirements.txt
# sudo apt-get install build-essential libssl-dev libffi-dev python3-dev
# sudo apt install -y python3-pip
# ( pip3 install --upgrade pip )

selenium
websocket-client
pyopenssl
urllib3
requests
bs4
evdev

### .____ For Jetson / Ubuntu18.04 ____ ###
# 
## [このパート不要説]
# sudo apt install -y curl
# curl -O http://launchpadlibrarian.net/646045586/chromium-chromedriver_109.0.5414.74-0ubuntu0.18.04.14_arm64.deb
# sudo apt install ./chromium-chromedriver_109.0.5414.74-0ubuntu0.18.04.14_arm64.deb

# sudo apt-get upgrade chromium-browser
#   -> 時間がかかる
# chromium-browser --version
#   -> 109以上であれば動くようだ.
### ____ for Jetson / Ubuntu18.04 ____. ###