[Desktop Entry]
Type=Application
Exec=./launch_ws.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[ja_JP]=auto client
Name=auto client
Comment[ja_JP]=
Comment=
