[Desktop Entry]
Type=Application
Exec=./capf_login.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=auto_chrome
Name=auto_chrome
Comment[en_US]=
Comment=
