[Desktop Entry]
Type=Application
Exec=./gitpull_pythonscript.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[ja_JP]=git pull
Name=git pull
Comment[ja_JP]=
Comment=
