[Desktop Entry]
Type=Application
Exec=pactl set-default-source alsa_input.usb-Plantronics_Poly_Sync_20-M_C4392B34309AD84DA68E34EBF082187A-00.multichannel-input
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[ja_JP]=set input device
Name=set input device
Comment[ja_JP]=
Comment=
