[Unit]
Description=/etc/rc.local
After = systemd-networkd-wait-online.service

[Service]
ExecStart=/etc/rc.local
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
