[Desktop Entry]
Type=Application
Exec=./run_chimeSwitch.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[ja_JP]=auto chime
Name=auto chime
Comment[ja_JP]=
Comment=
